<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/hardware/edit/{{equipos.serial}}" method="post">

            <div class="form-group">
              <input
                type="text"
                value= "{{equipos.serial}}"
                class="form-control"
                name="serial"
                placeholder="Serial De Equipo"
                autofocus
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.categoria}}"
                class="form-control"
                name="categoria"
                placeholder="Categoria De Equipo"
                autofocus
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.nombre_equipo}}"
                class="form-control"
                name="nombre_equipo"
                placeholder="Nombre De Equipo"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.sistema_operativo}}"
                class="form-control"
                name="sistema_operativo"
                placeholder="Sistema Operativo"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.fabricante}}"
                class="form-control"
                name="fabricante"
                placeholder="Fabricante De Equipo"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.modelo}}"
                class="form-control"
                name="modelo"
                placeholder="Modelo De Equipo"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.procesador}}"
                class="form-control"
                name="procesador"
                placeholder="Procesador"
              />
            </div>

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.ram}}"
                class="form-control"
                name="ram"
                placeholder="ram"
              />
            </div>

            <label
              for="almacenamiento"
              class="form-label"
            >Alamacenamiento</label>            

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.tipo_almacenamiento}}"
                class="form-control"
                name="tipo_almacenamiento"
                placeholder="tipo de almacenamiento"
              />
            </div>            

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.capacidad_almacenamiento}}"
                class="form-control"
                name="capacidad_almacenamiento"
                placeholder="capacidad_almacenamiento"
              />
            </div>            

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.propiedad}}"
                class="form-control"
                name="propiedad"
                placeholder="propiedad"
              />
            </div>            

            <div class="form-group">
              <input
                type="text"
                value="{{equipos.salud}}"
                class="form-control"
                name="salud"
                placeholder="salud"
              />
            </div>

            <div class="form-group">
              <label
                class="input-group-text"
                for="fecha_ultimo_mantenimiento"
              >Ultimo mantenimiento</label>
              <input
                type="date"
                value="{{equipos.fecha_ultimo_mantenimiento}}"
                class="form-group"
                name="fecha_ultimo_mantenimiento"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .form-group { margin-bottom: 10px; display: flex; justify-content: center;
  align-items: center;}
</style>