<div class="container p-4">
  <div class="row">
    <div class="col-md-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <form action="/printers/edit/{{printer.serial}}" method="post">

            <div class="form-group">
              <input
                type="text"
                value="{{printer.serial}}"
                class="form-control"
                name="serial"
                placeholder="Serial De Equipo"
                readonly
              />
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="categoria">Categoria de
                Equipo</label>
              <select class="form-select" id="type" name="type">
                <option value="{{printer.type}}">{{printer.type}}</option>
                <option value="Impresora">Impresora</option>
                <option value="Multifuncional">Multifuncional</option>
                <option value="Etiquetas">Etiquetas</option>
                <option value="Plotter">Plotter</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="marca">Marca / Fabricante</label>
              <select class="form-select" id="marca" name="marca">
                <option value="{{printer.marca}}">{{printer.marca}}</option>
                <option value="HP">HP</option>
                <option value="EPSON">EPSON</option>
                <option value="Ricoh">Ricoh</option>
                <option value="Zebra">Zebra</option>
                <option value="Avery Dennison">Avery Dennison</option>
              </select>
            </div>

            <div class="form-group">
              <input
                type="text"
                id="modelo"
                value="{{printer.modelo}}"
                class="form-control"
                name="modelo"
                placeholder="Modelo De Equipo"
              />
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="ubicacion">Ubicacion del
                Equipo</label>
              <select class="form-select" id="ubicacion" name="ubicacion">
                <option
                  value="{{printer.ubicacion}}"
                >{{printer.ubicacion}}</option>
                <option value="Planta Metalmecanica">Planta Metalmecanica</option>
                <option value="Planta Seki">Planta Seki</option>
                <option value="Sofasa">Sofasa</option>
                <option value="Archivada">Archivada</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="propiety">Propiedad del
                Equipo</label>
              <select class="form-select" id="propiety" name="propiety">
                <option
                  value="{{printer.propiety}}"
                >{{printer.propiety}}</option>
                <option value="UMO">UMO</option>
                <option value="IMDUCOP">IMDUCOP</option>
                <option value="CONIX">CONIX</option>
                <option value="OTRO">OTRO</option>
              </select>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="estado">Estado de la
                Impresora</label>
              <select class="form-select" id="estado" name="estado">
                <option value="{{printer.estado}}">{{printer.estado}}</option>
                <option value="Nuevo">Nuevo</option>
                <option value="Excelente">Excelente</option>
                <option value="Bueno">Bueno</option>
                <option value="Aceptable">Aceptable</option>
                <option value="Revisar">Revisar o Reparar</option>
                <option value="Baja">Dar de Baja</option>
              </select>
            </div>

            <div class="form-group">
              <button class="btn btn-success">Guardar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>